.action {
    float: right;
  
    .actionIcon {
      margin-right: 5px;
    }
  }
  
  .row {
    cursor: pointer;
  }
  
  h2.header {
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 15px !important;
  }
  .overflowXauto {
    overflow-x: auto;
  }
  
  .center {
    margin-top: 1% !important;
    color: #0000008a !important;
    text-align: center;
  }
  table th {
    color: rgba(0, 0, 0, 0.54) !important;
    font-size: 0.75rem !important;
    font-weight: 500 !important;
    line-height: normal !important;
  }
  table tr td {
    font-size: 0.8125rem !important;
    // padding: 0px 35px 0px 16px !important;
  }
  