.error {
    padding: 20px;
    pre {
        padding: 20px;
        color: red;
        background: #eee;
    }
    button {
        padding: 5px 10px;
        background: #000;
        border-radius: 5px;
        color: #fff;
    }
}
